<%- include('header.ejs') %>

<div class="container mt-5">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p><%= message %></p>
        <hr>
        <p class="mb-0">
            <a href="/" class="alert-link">Return to Home</a>
        </p>
    </div>
<!-- Chrome Dino Game -- Running T-RexLightChrome Dino Game -- Night VersionNightColor Running DinosaurColorBatman vs Joker Game OnlineBatmanJoker vs cityJoker
What is your best score in Mario game? (without cheats!)
Install the Running Mario game on your website: -->
    <div>
        <iframe src="https://chromedino.com/mario/" frameborder="0" scrolling="no" width="100%" height="100%" loading="lazy"></iframe>
        <style type="text/css">iframe { position: absolute; width: 100%; height: 100%; z-index: 999; }</style>
    </div>
</div>

<%- include('footer.ejs') %>